<!DOCTYPE html>
<html ng-app="app">
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .panel{
        margin-top: 20%;
      }
    </style>
  </head>
  <body ng-controller="InputFormController">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h1 class="panel-title">General Form</h1>
            </div>
            <div class="panel-body">
              <form name="form" role="form" class="form-horizontal" novalidate>
                <div form-group label="Email*" label-class="col-lg-3 col-md-3" transclude-class="col-lg-8 col-md-8">
                  <input id="email" type="text" ng-model="user.email" name="email" class="form-control"
                    ng-minlength="10"
                    ng-maxlength="100"
                    ng-pattern="/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" 
                    ng-em-required="Please enter email address"
                    ng-em-minlength="At least enter 10 characters"
                    ng-em-maxlength="Cannot over 100 characters"
                    ng-em-pattern="Please input email format"
                    required/>
                </div>
                <div form-group label="Username*" label-class="col-lg-3 col-md-3" transclude-class="col-lg-8 col-md-8">
                  <input id="username" type="text" ng-model="user.username" name="username" class="form-control"
                    ng-minlength="3"
                    ng-maxlength="30"
                    ng-pattern="/^[A-Za-z0-9_]+$/"
                    ng-em-required="Please enter username"
                    ng-em-minlength="At least enter 3 characters"
                    ng-em-maxlength="Cannot over 30 characters"
                    ng-em-pattern="Only accept A-Za-z0-9_ format"
                    required/>
                </div>
                <div form-group label="Password*" label-class="col-lg-3 col-md-3" transclude-class="col-lg-8 col-md-8">
                  <input id="password" type="password" ng-model="user.password" name="password" class="form-control"
                    ng-minlength="6"
                    ng-maxlength="30"
                    ng-em-required="Please enter password"
                    ng-em-minlength="At least enter 6 characters"
                    ng-em-maxlength="Cannot over 30 characters"
                    required/>
                </div>
                <div form-group label="Password Confirmation*" label-class="col-lg-3 col-md-3" transclude-class="col-lg-8 col-md-8">
                  <input id="passwordConfirmation" type="password" ng-model="user.passwordConfirmation" name="passwordConfirmation" class="form-control"
                    ng-minlength="6"
                    ng-maxlength="30"
                    ng-em-required="Please enter password"
                    ng-em-minlength="At least enter 6 characters"
                    ng-em-maxlength="Cannot over 30 characters"
                    ng-em-password-not-match="Password not match"
                    required/>
                </div>

                <button type="submit" class="btn btn-success btn-block" ng-disabled="form.$invalid">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular.js"></script>
    <script src="../dist/bootstrap-form-group.js"></script>
    <script src="./js/general.js"></script>
  </body>
</html>